@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap");

:root {
  --light-black: #343434;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-black);
}

main {
  min-height: calc(100vh - 76.8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

p {
  line-height: 1.6;
}

.nav-bar {
  width: 100%;
  z-index: 3;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  background: rgb(18, 18, 80);
  min-height: 30.25px;
}

.nav-item {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#nav-icon-wrapper {
  display: none;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom-color: #fff;
}

.startsida-nav-item {
  float: left;
  margin-left: 0px;
}

.anmälan-nav-item {
  border: 2px solid #fff;
  transition: 0.3s;
  padding: 8px 15px;
  margin-top: 0px;
}

.anmälan-nav-item:hover {
  background: #fff;
  color: var(--light-black);
}

.hamburger {
  display: none;
  padding: 5px;
  z-index: 1;
  height: 27px;
}

.hamburger:hover {
  filter: invert(0.2);
  cursor: pointer;
}

.menu-exit {
  display: none;
  padding: 5px;
  z-index: 1;
  height: 27px;
}

.menu-exit:hover {
  filter: invert(0.5);
  cursor: pointer;
}

.hamburger-menu {
  right: 0px;
  top: -2000px;
  z-index: 1;
  position: fixed;
  list-style-type: none;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  box-shadow: 0 5px 20px rgba(35, 35, 35, 0.568);
  opacity: 0;
}

.dropdown-animation {
  animation: dropping 0.5s forwards;
}

@keyframes dropping {
  from {
    top: -2000px;
  }
  to {
    top: 0px;
  }
}

.reset-animation {
  animation: reset 1s forwards;
}

@keyframes reset {
  from {
    top: 0px;
  }
  to {
    top: -2000px;
  }
}

.burger-item {
  margin: 15px;
  padding: 10px;
  border-bottom: 2px solid #fff;
  transition: 0.3s;
}

.burger-item:hover {
  border-color: var(--light-black);
  cursor: pointer;
}

.hero-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.img {
  max-width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.banner-text {
  width: 90%;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 20%);
}

.banner-text h1,
p {
  font-weight: lighter;
}

.banner-text h1 {
  font-size: 46px;
}

.heading-container {
  height: 100px;
  display: flex;
  align-items: center;
}

.heading-container h2 {
  font-size: 40px;
  font-weight: lighter;
}

.site-container {
  width: 90%;
  margin: 5% 0px;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-text {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5%;
}

.content-para {
  font-size: 16px;
  padding: 25px 0px;
  text-align: left;
}

.content-link {
  font-size: 16px;
  border: 1.5px solid var(--light-black);
  padding: 8px 15px;
  transition: 0.3s;
}

.content-link:hover {
  cursor: pointer;
  background: var(--light-black);
  color: #fff;
}

.content-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slideshow */

.mySlides {
  display: none;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.full-size {
  width: 100%;
  background: #d0d0d0;
  height: auto;
  padding: 20px 30px;
  border-radius: 5px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Slideshow */

/* Footer */
.footer {
  width: 100%;
  display: flex;
  background: rgb(18, 18, 80);
  color: #fff;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
}

.footer-section a {
  color: #fff;
  font-size: 14px;
}

.footer-section .bold {
  font-weight: 700;
}

.footer-list {
  list-style-type: none;
}

.footer-item {
  font-size: 14px;
  margin: 0px 0px 15px 0px;
  white-space: nowrap;
}

.footer-text {
  padding: 3px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.footer-text:hover {
  cursor: pointer;
  border-bottom-color: #fff;
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
}

.social {
  width: 30px;
  height: 30px;
  padding: 5px;
  background: white;
}
/* Footer */

@media screen and (max-width: 1250px) {
  .boende-container {
    flex-direction: column;
  }

  .slideshow-container {
    width: 100%;
  }

  .boende-text {
    width: 100%;
    padding-bottom: 30px;
  }
}

/* Media querys */
@media screen and (max-width: 1040px) {
  .site-container {
    margin-top: 0px;
  }

  .content {
    width: 100%;
  }

  .content-text {
    padding: 20px 15%;
  }

  #cont1 {
    order: 1;
  }
  #cont2 {
    order: 2;
  }
  #cont3 {
    order: 4;
  }
  #cont4 {
    order: 3;
  }
  #cont5 {
    order: 5;
  }
  #cont6 {
    order: 6;
  }

  .plats {
    flex-direction: column;
  }

  .plats-karta {
    width: 100%;
  }

  .plats-text {
    width: 100%;
    padding-bottom: 30px;
  }

  #info3 {
    order: 8;
  }

  #info4 {
    order: 7;
  }

  .kontakt-column {
    width: 45%;
  }

  .footer {
    justify-content: center;
    flex-direction: column;
  }

  .footer-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }

  .footer .logo {
    display: none;
  }

  .footer-list {
    text-align: center;
  }

  .socials-wrapper {
    margin-top: 20px;
  }

  .social {
    margin: 2.5px;
  }
}

@media screen and (max-width: 660px) {
  main {
    min-height: 100vh;
  }

  .nav-list {
    display: flex;
    flex-direction: row-reverse;
  }

  .nav-item {
    display: none;
  }

  #nav-icon-wrapper {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .hamburger-menu {
    opacity: 1;
  }

  .item-pris {
    padding: 5px;
    font-size: 15px;
  }

  .item-produkt {
    padding: 5px;
    font-size: 15px;
  }

  .item-inköpsställen {
    padding: 5px;
    font-size: 15px;
  }

  .anchor-tag-item {
    font-size: 14px;
    margin: 0px 5px;
  }

  .content {
    height: 300px;
  }

  .full-size {
    height: auto;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 550px) {
  .site-container {
    margin-bottom: 0px;
    width: 100%;
  }

  .information-container {
    width: 100%;
  }

  .content-text {
    padding: 20px 7%;
  }

  .anmälan-info {
    padding: 0px 5%;
  }

  .anchor-tag-item {
    font-size: 16px;
    margin: 0px 7px;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .heading-container h2 {
    font-size: 30px;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .hero-text-brudfölje {
    top: 35%;
  }

  .hero-text-brudfölje h1 {
    font-size: 30px;
  }

  .map {
    min-height: 200px;
  }

  .Kontaktuppgifter {
    flex-direction: column;
    align-items: center;
  }

  .kontakt-column {
    width: 80%;
  }

  .sortering-div {
    padding-right: 10px;
  }
}

/* Media querys */

.hide {
  display: none;
}

.show {
  display: block;
}
